{% extends 'layout.html' %}
{% load static %}


{% block content %}

<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Change the background</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/6.jpeg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">High Life</div>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, fugit.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 Days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/2.jpeg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">High Life</div>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, fugit.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 Days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/3.jpeg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">High Life</div>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, fugit.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 Days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/4.jpeg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">High Life</div>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, fugit.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 Days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img" src="{% static 'img/5.jpeg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <div class="card-title">High Life</div>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, fugit.
                        </p>
                        <p class="card-text">
                            <small class="text-muted">3 Days ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}